.border-gradient{
  position: relative;
}

.border-gradient::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(to top, white, transparent);
}