@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-fadeInLeft {
    animation: fadeInLeft 0.3s ease-in-out;
}

.animate-fadeInRight {
    animation: fadeInRight 0.3s ease-in-out;
}

.bg-image {
    background:
        linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
        url('../../../assets/logo-ia360.svg') no-repeat center fixed;
    background-size: clamp(1000px, 00%, 2000px);
    backdrop-filter: blur(5px);
}
